~OL+-----------------------[    ~FTBicol Channel Rules~FW    ]-------------------------+
~OL+-----< ~FRPlease Read~FW >---------------------------------------------------------|
~OL| If you don't agree with any of the rules, please use ~FR.suicide.~FW              |
~OL+-----------------------------------------------------------------------------+
~OL| ~FRRule 1 : ~FWNo harrassment of any kind is acceptable. To make                  |
~OL|          this a fun place for everyone, we will act on complaints.          |
~OL|                                                                             |
~OL| ~FRRule 2 : ~FWPlease try not to swear or spam in a public area.                  |
~OL|                                                                             |
~OL| ~FRRule 3 : ~FWPlease do not ask for a promotion. Use .request                    |
~OL|          No multiple accounts.  If you want to change your alias or would   |
~OL|          like an alias deleted, then use .request namechange.               |
~OL|                                                                             |
~OL| ~FRRule 4 : ~FWNo pedophilic and other illegal activities (e.g.                   |
~OL|          illegal drugs or arms trafficking/dealing, kidnapping, etc).       |
~OL|                                                                             |
~OL| ~FRRule 5 : ~FWNo botting (use of scripts or other methods to keep you            |
~OL|          logged on, keep idle time down, or automate tasks).                |
~OL|                                                                             |
~OL| ~FRRule 6 : ~FWHave fun! Enjoy your time here!                                    |
~OL+-----------------------------------------------------------------------------+
~OL|                                                                  by: SysAds |
~OL+-----------------------------------------------------------------------------+
